<div id="<%= dom_id contact %>">
  <p>
    <strong>Name:</strong>
    <%= contact.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= contact.description %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= contact.fecha %>
  </p>

  <p>
    <strong>User:</strong>
    <%= contact.user_id %>
  </p>

</div>
